<div class="_card _card-case-history">
	<div class="_card-figure relative ratio-4-3 overflow-hidden'">
		<figure class="absolute w-full h-full object-contain object-center"></figure>
	</div>
	<div class="card-info mt-4">
		<span class="inline-block border-primary border-b border-r py-2 px-4 mb-8 uppercase">Case history</span>
		<h3 class="fs-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h3>
		<a class="arrow-r inline-block" href="#">Scopri</a>
	</div>
</div>
