<div class="_main__section _hero-macro-famiglia">
	<div class="wp-block-columns md:gap-12">
		<div class="_macro-famiglia-figure wp-block-column col-span-12 md:col-span-6">
			<figure class="relative ratio-1-1 overflow-hidden">
				<img class="absolute w-full h-full object-cover object-center" src="#">
			</figure>
		</div>
		<div class="_macro-famiglia-info wp-block-column col-span-12 md:col-span-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<a class="button" href="#">Scopri i prodotti Iperjet</a>
			<a class="button hollow" href="#">Richiedi informazioni</a>
		</div>
	</div>
</div>
