<!-- 2 blocchi
_main__section + colonne bg-primary isdark
_main__section con img bg, classe _hero -->

<div class="_main__section _macro-famiglia-block-hero bg-primary isdark mb-0 py-24">
	<div class="wp-block-columns mb-0">
		<div class="_info wp-block-column col-span-12">
			<h1 class="_titolo fs-huge mb-16">Prodotti Coral</h1>
			<p class="max-w-64ch">Per combattere l'inquinamento industriale è necessaria una conoscenza puntuale degli agenti inquinanti e un'esperienza pluriennale senza pari per la produzione di macchinari in grado di filtrarli. Dai bracci aspiranti ai banchi aspiranti, dai filtri a maniche ai filtri Atex; cabine di verniciatura, ventilatori industriali indispensabili e disponibili in versione Atex, che rappresentano il fulcro dei sistemi aspiranti. Tutti i sistemi di depurazione dell'aria Coral sono certificati rispetto le normative europee per la salvaguardia ambientale e della sicurezza sul lavoro, garantendo così la massima efficienza e affidabilità in ogni fase operativa.</p>
		</div>
	</div>
</div>

<div class="_main__section _hero min-h-hero-short">
</div>

