/*-------------------------------------------------------------*\
            		Elementi Main
\*-------------------------------------------------------------*/


input,
select,
textarea {
    @apply transition-all duration-normal ease-in-out;
}


[type="color"],
[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
	display: block;
	box-sizing: border-box;
    @apply w-full !important;
	max-width: 100%;
	height: var(--input-h);
	margin: 0;
	padding: var(--input-p);
	background: var(--input-bg) !important;
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	font-family: var(--input-ff);
	font-size: var(--input-fs);
	color: var(--input-color);
	font-weight: var(--input-fw);
	line-height: var(--input-lh);
	letter-spacing: var(--input-ls);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type="color"]:hover,
[type="date"]:hover, [type="datetime-local"]:hover, [type="datetime"]:hover,
[type="email"]:hover, [type="month"]:hover, [type="number"]:hover, [type="password"]:hover,
[type="search"]:hover, [type="tel"]:hover, [type="text"]:hover, [type="time"]:hover,
[type="url"]:hover, [type="week"]:hover, textarea:hover, select:hover {
    color: var(--input-hov-color);
	border: var(--input-hov-border);
	background: var(--input-hov-bg);
	box-shadow: var(--input-hov-shadow);
}


[type="color"]:focus,
[type="date"]:focus, [type="datetime-local"]:focus, [type="datetime"]:focus,
[type="email"]:focus, [type="month"]:focus, [type="number"]:focus, [type="password"]:focus,
[type="search"]:focus, [type="tel"]:focus, [type="text"]:focus, [type="time"]:focus,
[type="url"]:focus, [type="week"]:focus, textarea:focus, select:focus {
	background: var(--input-bg);
	color: var(--input-focus-color);
	border: var(--input-focus-border);
	box-shadow: var(--input-focus-shadow);
}

textarea {
    min-height: var(--textarea-min-h);
}


/*------------------------------------*\
		Checkbox + Radio
\*------------------------------------*/

input[type="checkbox"],
input[type="radio"] {

    /* Dimensioni input */
    /* L'input checkbox resta sostanzialmente un riquadro vuoto in cui piazzare il before e l'after */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    display: inline-block;
    position: relative;
	top: 0;
    width: var(--checkbox-checkbox-size) !important;
    height: var(--checkbox-checkbox-size) !important;
    margin-right: var(--checkbox-checkbox-margin-right);
	/* border: 1px solid red;
	background: yellow; */
}


	/* Quadrato di sfondo Checkbox */
	input[type="checkbox"]::before,
	input[type="radio"]::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: var(--checkbox-checkbox-size);
		height: var(--checkbox-checkbox-size);
		background-color: var(--input-bg);
		border: var(--input-border);
		border-radius: var(--checkbox-checkbox-border-radius);
		transition: var(--btn-transition);
	}

	/* Simbolo dentro il Checkbox */
	/* Qui è fatto come spunta con css, ma per figure particolari si può usare una svg poi convertita in base64 */
	input[type="checkbox"]::after,
	input[type="radio"]::after {
		position: absolute;
		content: '';
		display: block;
		top: calc(var(--checkbox-checkbox-size) * .05);
		left: calc(var(--checkbox-checkbox-size) * .3);
		width: calc(var(--checkbox-checkbox-size) * .45); /* segmento corto a sx */
		height: calc(var(--checkbox-checkbox-size) * .75); /* segmento lungo a dx */
		border: 1px solid var(--input-bg);
		border-width: 0 .185em .185em 0;
		border-radius: 1px;
		transform: rotate(45deg);
		transition: var(--btn-transition);
		opacity: 0;
	}

	input[type="checkbox"]:hover{
		box-shadow: none;
		background: transparent;
		/* annullano evidenziazione di default dei form che qui sarebbero sull'area di interazione del checkbox */
	}

	input[type="checkbox"]:hover::before,
	input[type="radio"]:hover::before {
		border-color: var(--input-color);
	}

	input[type="checkbox"]:checked::before,
	input[type="radio"]:checked::before {
		background-color: var(--input-color);
		border-color: var(--input-color);
	}

	input[type="checkbox"]:checked::after,
	input[type="radio"]:checked::after {
		opacity: 1;
	}






/*------------------------------------*\
			Select
\*------------------------------------*/

select,
select:hover,
select:focus {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') !important;
    background-repeat: no-repeat !important;
    background-position: right .7em top 50%, 0 0 !important;
    background-size: .65em auto, 100% !important;
}

select::-ms-expand {
    @apply hidden;
}

select option {
    @apply fw-400;
}

	/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] select,
 :root:lang(ar) select,
 :root:lang(iw) select {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}


/* Disabled styles */

select:disabled,
select[aria-disabled=true] {
    @apply text-gray-300;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

select:disabled:hover,
select[aria-disabled=true] {
    @apply border-gray-100;
}



/* Buttons */

button,
button[type=submit],
input[type=submit] {
    @apply button;
}


/* Search */

.search-input {
    @apply w-2/3 m-0 pl-4 rounded-tl-3xl rounded-bl-3xl !important;
}

.search-input:hover,
.search-input:focus {
    @apply shadow-none;
}

.search-button {
    @apply w-1/3 m-0 rounded-tl-none rounded-bl-none !important;
}





/*------------------------------------*\
			CF7
\*------------------------------------*/

.wpcf7-form-control-wrap {
	display: block;
	/* margin-bottom: var(--input-gap); */
}
/* E' il wrapper di default di CF7 per quasi tutti gli elementi, gli si applica il margin-bottom di default e si dà block perché sin alcuni casi è associato a elementi span (es. select).
Non si creano problemi con display block perché ogni elemento di CF7 lo inseriamo sempre dentro un div di dimensioni già definite quindi è giusto che l'elemento dentro occupi tutto lo spazio a disposizione */


/*   Checkboxes e Radio su CF7

Su CF7 per i checkboxes e i radio bisogna impoastare sempre l'opzione "accorpa ogni elemento con l'etichetta", in questo modo ogni radio o checkbox sono cliccabili anche sulla parte della descrizione testuale.
In questa modalità per ogni opzione c'è un contenitore label che contiene l'input checkbox e poi uno span per il messaggio.
Questa coppia la trattiamo come qualsiasi altro elemento dove c'è un icon e un testo. Quindi
- contenitore (label) in flex
	- elemento input checkbox con larghezza definita
	- span (che contiene il testo) in flex-1 che si adatta
Questo schema vale esattamente nello stesso anche per gli adattamenti checkbox su hubspot.
*/


.wpcf7-list-item label {
	display: flex;
	position: relative;
	align-items: center;
}

	.wpcf7-list-item label span.wpcf7-list-item-label {
		@apply flex-1;
		font-size: var(--checkbox-fs);
		/* Di default il testo dentro le checkbox è definito dalla variabile, se serve testo più grande occorre mettere dell'html con le classi fs-XX dentro il testo */
	}


/* Errori CF 7 */
input.wpcf7-not-valid {
	border-color: var(--input-error-tip-color);
}

.wpcf7-not-valid-tip {
	display: block;
	font-size: var(--input-error-tip-fs);
	padding: var(--input-error-tip-p);
	color: var(--input-error-tip-color);
}




.wpcf7-response-output {
    @apply mt-4;
}

div.wpcf7 .screen-reader-response {
    @apply absolute overflow-hidden h-px w-px m-0 p-0 border-0;
    clip: rect(1px, 1px, 1px, 1px);
}

.wpcf7 .ajax-loader {
    @apply invisible relative inline-block opacity-75 border-none rounded-full p-0 bg-gray-800;
    width: 24px;
    height: 24px;
    margin: 0 24px;
}

.wpcf7 form.submitting .ajax-loader {
    @apply visible;
}

.wpcf7 .ajax-loader::before {
    content: '';
    @apply absolute bg-gray-100 border-none rounded-full;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
    .wpcf7 .ajax-loader::before {
        animation-name: blink;
        animation-duration: 2000ms;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



/*------------------------------------*\
			Facet WP
\*------------------------------------*/


.noUi-target {
    @apply bg-black bg-opacity-5 border-none !important;
}

.noUi-handle {
    @apply bg-primary border-4 border-solid border-white rounded-full !important;
}

.noUi-connect {
    @apply bg-primary !important;
}

.facetwp-slider-reset {
    @apply border-none rounded bg-primary shadow-none text-xs text-black !important;
}

.facetwp-slider-reset:hover {
    @apply text-primary bg-black !important;
}

.facetwp-input-wrap {
    @apply block !important;
}

.facetwp-slider-label {
    @apply text-xs;
}

.fs-wrap {
    @apply w-full;
}

.fs-label-wrap {
    @apply w-full bg-gray-100 border-none text-base text-gray-700 border border-solid border-white !important;
}

.fs-label {
    @apply p-2 !important;
}

.fs-arrow {
    border-top-color: #999 !important;
    border-width: 6px !important;
    border-bottom-width: 0 !important;
    right: 9px !important;
}

.facetwp-facet {
    margin-bottom: 0 !important;
}

.facetwp-type-autocomplete {
	@apply relative;
	@apply inline-flex;
	@apply rounded-full;
}

.fcomplete-wrap{
	top: 3rem;
}

.facetwp-autocomplete-update {
	@apply p-0;
    @apply button;
	@apply bg-primary;
	@apply ml-4;
	@apply inline-flex
}






/*------------------------------------*\
			Hubspot Forms
\*------------------------------------*/

fieldset {
	max-width: none !important;
}


.hs-fieldtype-text {
	width:100% !important;
}

.hs-form .form-columns-1,
.hs-form .form-columns-2 {
	@apply grid grid-cols-1 gap-4;
	margin-bottom: var(--input-gap);
}

@media (min-width: 640px) {
	.hs-form .form-columns-2 {
		@apply grid-cols-2 !important;
	}
}

.hs-input.error {
	@apply border-alert;
}

.hs-error-msg {
	@apply block lh-11 fs-xs text-alert mt-2 mb-2;
}


/* Checkboxes e radio su Hubspot

Su Hubspot per i checkboxes e i radio c'è un contenitore label che contiene l'input checkbox e poi uno span per il messaggio.
Questa coppia la trattiamo come qualsiasi altro elemento dove c'è un icon e un testo. Quindi
- contenitore (label) in flex
	- elemento input checkbox con larghezza definita
	- span (che contiene il testo) in flex-1 che si adatta
Questo schema vale esattamente nello stesso anche per gli adattamenti checkbox su hubspot
*/

label.hs-form-booleancheckbox-display {
	@apply relative flex;
}

	.hs-form-booleancheckbox-display span {
		@apply flex-1;
		font-size: var(--checkbox-fs);
	}






/*-------------------------------------------------------------*\
			CF/ Checkbox & Radio by Tenaglia
\*-------------------------------------------------------------*/


/* Personalizzazioni Silmax */

/*
.silmax-flex-checkbox-small {
    @apply grid grid-cols-2 gap-4;
}


@media (min-width: 920px) {
    .silmax-flex-checkbox-small {
        @apply grid-cols-4;
    }
}

@media (min-width: 1280px) {
    .silmax-flex-checkbox-small {
        @apply grid-cols-6;
    }
}

.silmax-flex-checkbox-large {
    @apply grid grid-cols-1 gap-4;
}

@media (min-width: 920px) {
    .silmax-flex-checkbox-large {
        @apply grid-cols-2;
    }
}

@media (min-width: 1280px) {
    .silmax-flex-checkbox-large {
        @apply grid-cols-4;
    }
}



.wpcf7 .wpcf7-list-item {
    @apply inline-block mb-2;
}

.wpcf7-checkbox .wpcf7-list-item-label {
    @apply ml-4;
}

.wpcf7 .wpcf7-list-item-label {
    @apply mx-4;
}
*/

/* Radio */
/*
.wpcf7-form .wpcf7-radio label {
    @apply relative cursor-pointer;
}

.wpcf7-form .wpcf7-radio input[type=radio] {
    @apply relative invisible;
}
*/

/*
.wpcf7-form .wpcf7-radio input[type=radio]+span {
       border: 3px solid red;
}

.wpcf7-form .wpcf7-radio input[type=radio]+span:before {
    content: '';
    @apply block absolute rounded-full h-4 w-4 top-0 border-2 border-gray-500;
}

.wpcf7-form .wpcf7-radio input[type=radio]+span:after {
    content: '';
    @apply block absolute rounded-full h-2 w-2 top-1 left-1 invisible;
}
*/

/*
.wpcf7-form .wpcf7-radio input[type=radio]:checked+span:before {
    @apply bg-transparent;
    border-color: red;
}
*/

/*
.wpcf7-form .wpcf7-radio input[type=radio]:checked+span:after {
    @apply bg-gray-500 visible;
}
*/


/* Checkbox */


.wpcf7-form .wpcf7-checkbox label {
    @apply relative cursor-pointer;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] {
    @apply relative invisible z-3;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]+span {
    /* border: 3px solid red;  */
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]+span:before {
    content: '';
    @apply block absolute rounded h-4 w-4 top-0 border-2 border-gray-500 z-1;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]+span:after {
    content: '\2713';
    @apply block absolute rounded-full w-2 h-2 top-0 invisible text-white z-2;
    font-size: 13px;
    left: 4px;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]:checked+span:before {
    @apply bg-gray-500;
    /* border-color: red; */
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]:checked+span:after {
    @apply visible;
    /* background: #222; */
}


/* Checkbox privacy */

.wpcf7-form-control-wrap.privacy .wpcf7-list-item-label {
    @apply text-sm align-top relative;
}

.wpcf7-form-control-wrap.privacy .wpcf7-list-item {
    @apply relative;
}

.wpcf7-form-control-wrap.privacy .wpcf7-checkbox input[type=checkbox] {
    @apply visible opacity-0 cursor-pointer;
}

.wpcf7-form-control-wrap.privacy .wpcf7-checkbox input[type=checkbox]+span:after {
    left: -25px;
}


/* Upload button*/

/*
.canva-upload-button {
    @apply relative;
}

.canva-upload-button span.wpcf7-form-control-wrap {
    @apply bg-primary flex w-full cursor-pointer h-10 rounded-3xl absolute transition-all;
}

.canva-upload-button span.wpcf7-form-control-wrap:hover {
    @apply bg-accent;
}

.canva-upload-button span.wpcf7-form-control-wrap:before {
    content: 'Scegli file';
    @apply block w-full text-black font-primary h-full text-center pt-2 transition-all;
}

.canva-upload-button span.wpcf7-form-control-wrap:hover:before {
    @apply text-white;
}

.canva-upload-button input {
    @apply opacity-0 absolute top-0 left-0 w-full h-full;
}
*/



