/*------------------------------------*\
****************************************
/*------------------------------------*\

Componente Photobutton
- Variabili
- Css

\*------------------------------------*\
****************************************
\*------------------------------------*/


/*
Questo componente è identico come logica agli hero con qualche accorgimento
- nello stesso div dichiari sia _photobutton sia _layer-wrap
- l'altezza di default del photobutton è definita nelle variabili
- per altezze particolari nello style si aggiunge la classe _photobutton-XYZ e gli si dà un'altra altezza

NEXT: In futuro si potrà valutare se fare altezze dei photobutton di 2-3 tagli esattamente come succede adesso per hero-short hero-tall



Ci sono due tipi di photobutton

---------------------------------------
1 - Photobutton Elastic
Priorità al contenuto (che li può allargare) e all'adattabilità al lyout che li contiene.
Possono cioé esserci cioé nella stessa riga due photobutton elastic alti uguali ma con larghezze differenti

Template ==> Photobutton-elastic
---------------------------------------

In questo caso
	- contenitore main con classe "_photobutton _layer-wrap _pb-elastic"
		- _photbutton come classe associa all'oggetto le transizioni e i comportamenti dei layer interni
		_ _layer-wrap imposta i comportamenti classici dei layer interni
		- _pb-elastic dà a photobutton altezza minima

		- _layer-visual absolute
		- _layer-content relative perché deve potersi espandere
			- Se i contenuti sono agganciati in alto, allora _layer-content non richiede nessun accorgimento.
			- Se i contenuti invece vanno agganciati al fondo allora _layer-content contiene un altro div "_content-wrap" che deve essere "flex flex-col justify-end" e avere soprattutto classe "h-full" che gli dà la stessa altezza minima del photobutton completo (importante che il _photobutton sia flex, se non non gliela passa)



---------------------------------------
2 - Photobutton Fixed Ratio
Priorità alla forma ratio che rimane sempre al variare della larghezza.
Se due photobutton fixed ratio hanno larghezze diverse avranno anche altezze diverse
Se hanno contenuto troppo lungo lo tagliano

Template ==> Photobutton-fixed-ratio
---------------------------------------

in questo caso
	- contenitore main con classe "_photobutton _layer-wrap _pb-fixed-ratio"
		- _photbutton come classe associa all'oggetto le transizioni e i comportamenti dei layer interni
		_ _layer-wrap imposta i comportamenti classici dei layer interni
		- _pb-elastic dà a photobutton altezza minima


	- _layer-wrap con ratio-x-y
	- _layer-visual absolute
	- _layer-content absolute
Il contenuto viene tagliato se eccede


*/


/* Incluso in layer base per filtrare tutte le classi non utilizzate */
@layer base {


/*------------------------------------*\
/*------------------------------------*\
	Variabili Photobutton
\*------------------------------------*\
\*------------------------------------*/


:root {

--phbtn-min-h: 600px; /* Usata per impostare i Photobutton Elastic */
--phbtn-ratio: 100%; /* Usata per impostare proporziona default dei Photobutton Fixed ratio, la sovrascrivi con le classi ratio-X-Y */

--phbtn-filter-bg: var(--layer-filter-bg);
--phbtn-filter-opacity: 0;
--phbtn-filter-mixbm: var(--layer-filter-mixbm);
/* Shadow ancora tutta da aggiungere */
--phbtn-global-transition: var(--transition-property-all) var(--trans-timing-bezier) var(--duration-normal);
/* vale per tutto, cornice photobutton, bg, filter etc... se servono cose più specifiche si va di style o classi */

--phbtn-hov-transform: none;
--phbtn-hov-bg-transform: scale(1.1);
--phbtn-hov-filter-bg: var(--phbtn-layer-filter-bg);
--phbtn-hov-filter-opacity: 0;



/* Chiude :root */
}



/*------------------------------------*\
/*------------------------------------*\
	Css Photobutton
\*------------------------------------*\
\*------------------------------------*/


._photobutton {
	transition: var(--phbtn-global-transition);
	display: flex; /* Importante, deve essere flex e non block perché così è in grado di passare ai div interni l'altezza totale e permette quindi di usare h-full dentro il _layer-content*/
}

._pb-elastic {
	min-height: var(--phbtn-min-h);
}

._pb-fixed-ratio {
	min-height: 0;
	height: 0 !important;
	padding-bottom: var(--phbtn-ratio);
}

	._pb-bg, ._pb-picture {
		transition: var(--phbtn-global-transition);
	}

	._pb-filter {
		background-color: var(--phbtn-filter-bg);
		opacity: var(--phbtn-filter-opacity);
		mix-blend-mode: var(--phbtn-filter-mixbm);
		transition: var(--phbtn-global-transition);
	}

._photobutton:hover {
	transform: var(--phbtn-hov-transform);
}

	._photobutton:hover ._pb-bg,
	._photobutton:hover ._pb-picture {
		transform: var(--phbtn-hov-bg-transform);
	}

	._photobutton:hover ._pb-filter {
		background-color: var(--phbtn-hov-filter-bg);
		opacity: var(--phbtn-hov-filter-opacity);
	}



._photobutton-collection ._layer-filter {
	background-color: rgba(0,0,0,.15);
	@apply transition-opacity opacity-100 duration-slow;
}

._photobutton-collection:hover ._layer-filter {
	@apply opacity-0;
}




/* Chiude layer base */
}
