@import '_variables.css';
@import '../../../../node_modules/tailwindcss/base';
@import '../../../../node_modules/tailwindcss/components';

/* Don't add anything before these 2 lines*/


/* import here custom css files created in project/assets/src folder */


/* @import 'wp-blocks.css'; */


/* Core */

@import 'default.css';
@import 'grid-spacing.css';
@import 'container.css';
@import 'animations-lazyload-icons.css';
@import 'typography.css';
@import 'buttons-tags-close.css';
@import 'layers.css';
@import 'hero.css';
/* @import 'photobuttons.css'; */
@import 'overlay.css';
@import 'modals-tooltips.css';
@import 'nav-01-standard.css';
/* @import 'nav-02-dsk-aux.css'; */
@import 'nav-03-offc-dsk.css';
@import 'tables.css';
@import 'forms.css';
@import 'isdark.css';
@import 'accessibility.css';


/* Plugins */
@import 'swiper-bundle.css';
@import 'photoswipe.css';
@import 'photoswipe-default-skin.css';


/* Third party*/
@import 'embed.css';
@import 'google-maps.css';


/* WooCommerce style */
/* @import 'woocommerce.css'; */


/* Use project.css for custom styles */
@import '_style-project.css';


/* Insert WP blocks here */
@import 'wp-blocks.css';
@import 'wp-block-accordion.css';


/* Don't add anything after these 2 lines*/

@import '../../../../node_modules/tailwindcss/utilities';
