/*------------------------------------*\
/*------------------------------------*\

		Typography

\*------------------------------------*\
\*------------------------------------*/


/* Incluso in layer base per filtrare tutte le classi non utilizzate */
@layer base {




html {
	font-size: 100%;
	font-family: var(--body-ff);
	color: var(--body-color);
	font-weight: var(--body-fw);
	line-height: var(--body-lh);
	letter-spacing:  var(--body-fw);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width:230px) {
	html { font-size: var(--html-fs-xs); }
}

@media (min-width:360px) {
	html { font-size: var(--html-fs-sm); }
}

@media (min-width:640px) {
	html { font-size: var(--html-fs-md); }
}

@media (min-width:960px) {
	html { font-size: var(--html-fs-lg); }
}

@media (min-width:1280px) {
	html { font-size: var(--html-fs-xl); }
}

@media (min-width:1600px) {
	html { font-size: var(--html-fs-xxl); }
}


/*------------------------------------*\
	Stili base
\*------------------------------------*/


b, strong {
	font-weight: var(--bold-fw);
	color: var(--bold-color);
}

a {
	transition: var(--a-transition);
}

p > a, span > a, *:not(nav) li > a {
	font-weight: var(--a-fw);
	color: var(--a-color);
	transition: var(--a-transition);
	text-decoration: var(--a-txtdec);
	overflow-wrap: break-word; /* permette di andare a capo con i link lunghi se necessario */
}

p > a:hover, span > a:hover,
*:not(nav) li > a:hover {
	color: var(--a-hov-color);
	text-decoration: var(--a-hov-txtdec);
}

::selection {
	color: var(--txt-select-color);
	background: var(--txt-select-bg);
}



/*------------------------------------*\
	Headings e dimensioni
\*------------------------------------*/

h1, h2, h3, h4, h5, h6,
.huge, .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
	font-family: var(--title-ff);
	color: var( --title-color);
	font-weight: var(--title-fw);
	line-height: var(--title-lh);
	letter-spacing: var(--title-ls);
	margin-bottom: var(--title-mb);
}


.huge {
	font-size: var(--huge-fs-lg);
}

h1, .h1 {
	font-size: var(--h1-fs-lg);
	/* margin-bottom: .5em; */
}
h2, .h2 {
	font-size: var(--h2-fs-lg);
	/* margin-bottom: .5em; */
}
h3, .h3 {
	font-size: var(--h3-fs-lg);
	/* margin-bottom: .75em; */
}
h4, .h4 {
	font-size: var(--h4-fs-lg);
	/* margin-bottom: .75em; */
}
h5, .h5 {
	font-size: var(--h5-fs-lg);
	/* margin-bottom: 1em; */
}
h6, .h6 {
	font-size: var(--h6-fs-lg);
	/* margin-bottom: 1em; */
}
.h7 {
	font-size: var(--h7-fs-lg);
	/* margin-bottom: 1em; */
}


._toptitle, ._title, ._subtitle {
	display: block;
}

._toptitle {
	font-family: var(--toptitle-ff);
	font-size: var(--toptitle-fs-lg);
	color: var(--toptitle-color);
	font-weight: var(--toptitle-fw);
	line-height: var(--toptitle-lh);
	letter-spacing: var(--toptitle-ls);
	text-transform: var(--toptitle-tt);
}

._subtitle {
	font-family: var(--subtitle-ff);
	color: var(--subtitle-color);
	font-weight: var(--subtitle-fw) !important;
	line-height: var(--subtitle-lh);
	font-style: var(--subtitle-font-style);
}

p {
	font-family: var(--p-ff);
	font-size: var(--p-fs-lg);
	color: var(--p-color);
	line-height: var(--p-lh);
	letter-spacing: var(--p-ls);
	margin-bottom: var(--p-mb);
}

.lead {
	font-family: var(--lead-ff);
	font-size: var(--lead-fs-lg);
	color: var(--lead-color);
	line-height: var(--lead-lh);
	letter-spacing: var(--lead-ls);
	margin-bottom: var(--lead-mb);
}

blockquote, .wp-block-quote {
	padding: var(--bquote-p);
	margin-bottom: var(--bquote-mb);
	font-family: var(--bquote-ff);
	color: var(--bquote-color);
	font-weight: var(--bquote-fw);
	line-height: var(--bquote-lh);
	letter-spacing: var(--bquote-ls);
	border-left: var(--bquote-border-l);
	position: relative;
}


/*------------------------------------*\
	Lists
\*------------------------------------*/


/* Unordered list */

.ul-dot,
ul.wp-block-list:not([class*="menu-"]),
.canva-ul {
	margin-bottom: var(--ul-mb);
}

	.ul-dot li,
	ul.wp-block-list:not([class*="menu-"]) li,
	.canva-ul li {
		@apply relative;
		font-family: var(--ul-li-ff);
		padding-left: var(--ul-li-pl);
		margin-bottom: var(--ul-li-mb);
		font-size: var(--ul-li-fs);
		line-height: var(--ul-li-lh);
	}

	.ul-dot li:last-of-type,
	.wp-block-list:not([class*="menu-"]) li:last-of-type,
	.canva-ul li:last-of-type {
		margin-bottom: 0;
	}

		.ul-dot li::before,
		ul.wp-block-list:not([class*="menu-"]) li::before,
		.canva-ul li::before {
			@apply block absolute;
			content: '';
			top: var(--ul-li-dot-t);
			left: var(--ul-li-dot-l);
			width: var(--ul-li-dot-w);
			height: var(--ul-li-dot-h);
			background: var(--ul-li-dot-bg);
			border-radius: var(--ul-li-dot-radius);
		}



/* Unordered Check list */

.ul-check,
ul.wp-block-list:not([class*="menu-"]).ul-check,
.canva-ul.ul-check { }

	.ul-check li,
	ul.wp-block-list:not([class*="menu-"]).ul-check li,
	.canva-ul.ul-check li {
		padding-left: var(--ul-li-chk-pl);
		margin-bottom: var(--ul-li-chk-mb);
	}

		.ul-check li::before,
		ul.wp-block-list:not([class*="menu-"]).ul-check li::before,
		.canva-ul.ul-check li::before {
			@apply block absolute bg-no-repeat bg-cover bg-transparent rounded-none;
			content: '';
			top: var(--ul-li-chk-t);
			left: var(--ul-li-chk-l);
			width: var(--ul-li-chk-w);
			height: var(--ul-li-chk-h);
			background-image: var(--ul-li-chk-bg-img);
		}



/* Ordered list */

ol,
ol.wp-block-list {
	/* list-style: none; Già dichiarato negli ul,ol sopra */
}

	ol li,
	ol.wp-block-list li {
		position: relative;
		padding-left: var(--ol-li-pl);
		margin-bottom: var(--ul-li-mb);
		counter-increment: listNumbering;
		font-family: var(--ul-li-ff);
	}

	ol li::before {
		content: counter(listNumbering,decimal);
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: var(--ol-li-dot-t);
		left: var(--ol-li-dot-l);
		width: var(--ol-li-dot-w);
		height: var(--ol-li-dot-h);
		background: var(--ol-li-dot-bg);
		border: var(--ol-li-dot-border);
		text-align: center;
		font-family: var(--ol-li-number-ff);
		font-size: var(--ol-li-number-fs);
		line-height: 1em;
		border-radius: var(--ol-li-dot-radius);
		font-weight: var(--ol-li-number-fw);
		color: var(--ol-li-number-color);
	}



/*------------------------------------*\
	Utilities
\*------------------------------------*/


/* Font Size -------- */

.fs-huge 			{ font-size: var(--huge-fs-lg) !important; }
.fs-h1	 			{ font-size: var(--h1-fs-lg) !important; }
.fs-h2	 			{ font-size: var(--h2-fs-lg) !important; }
.fs-h3	 			{ font-size: var(--h3-fs-lg) !important; }
.fs-h4	 			{ font-size: var(--h4-fs-lg) !important; }
.fs-h5	 			{ font-size: var(--h5-fs-lg) !important; }
.fs-h6	 			{ font-size: var(--h6-fs-lg) !important; }
.fs-h7	 			{ font-size: var(--h7-fs-lg) !important; }
.fs-toptitle 		{ font-size: var(--toptitle-fs-lg) !important; }
.fs-p 				{ font-size: var(--p-fs-lg) !important; }
.fs-sm 				{ font-size: var(--txt-sm-fs-lg) !important; }
.fs-xs 				{ font-size: var(--txt-xs-fs-lg) !important; }
.fs-xxs 			{ font-size: var(--txt-xxs-fs-lg) !important; }
.fs-lead 			{ font-size: var(--lead-fs-lg) !important; }
.fs-blockquote 		{ font-size: var(--bquote-fs-lg) !important; }
.fs-body	 		{ font-size: var(--body-fs) !important; }



		/* Declinazioni resposive FS -------- */

		@media (min-width:230px) {
			.xs\:fs-huge 			{ @apply fs-huge !important; }
			.xs\:fs-h1	 			{ @apply fs-h1 !important; }
			.xs\:fs-h2	 			{ @apply fs-h2 !important; }
			.xs\:fs-h3	 			{ @apply fs-h3 !important; }
			.xs\:fs-h4	 			{ @apply fs-h4 !important; }
			.xs\:fs-h5	 			{ @apply fs-h5 !important; }
			.xs\:fs-h6	 			{ @apply fs-h6 !important; }
			.xs\:fs-h7	 			{ @apply fs-h7 !important; }
			.xs\:fs-toptitle 		{ @apply fs-toptitle !important; }
			.xs\:fs-p 				{ @apply fs-p !important; }
			.xs\:fs-sm 				{ @apply fs-sm !important; }
			.xs\:fs-xs 				{ @apply fs-xs !important; }
			.xs\:fs-xxs 			{ @apply fs-xxs !important; }
			.xs\:fs-lead 			{ @apply fs-lead !important; }
			.xs\:fs-blockquote 		{ @apply fs-blockquote !important; }
		}

		@media (min-width:360px) {
			.sm\:fs-huge 			{ @apply fs-huge !important; }
			.sm\:fs-h1	 			{ @apply fs-h1 !important; }
			.sm\:fs-h2	 			{ @apply fs-h2 !important; }
			.sm\:fs-h3	 			{ @apply fs-h3 !important; }
			.sm\:fs-h4	 			{ @apply fs-h4 !important; }
			.sm\:fs-h5	 			{ @apply fs-h5 !important; }
			.sm\:fs-h6	 			{ @apply fs-h6 !important; }
			.sm\:fs-h7	 			{ @apply fs-h7 !important; }
			.sm\:fs-toptitle 		{ @apply fs-toptitle !important; }
			.sm\:fs-p 				{ @apply fs-p !important; }
			.sm\:fs-sm 				{ @apply fs-sm !important; }
			.sm\:fs-xs 				{ @apply fs-xs !important; }
			.sm\:fs-xxs 			{ @apply fs-xxs !important; }
			.sm\:fs-lead 			{ @apply fs-lead !important; }
			.sm\:fs-blockquote 		{ @apply fs-blockquote !important; }
		}

		@media (min-width:640px) {
			.md\:fs-huge 			{ @apply fs-huge !important; }
			.md\:fs-h1	 			{ @apply fs-h1 !important; }
			.md\:fs-h2	 			{ @apply fs-h2 !important; }
			.md\:fs-h3	 			{ @apply fs-h3 !important; }
			.md\:fs-h4	 			{ @apply fs-h4 !important; }
			.md\:fs-h5	 			{ @apply fs-h5 !important; }
			.md\:fs-h6	 			{ @apply fs-h6 !important; }
			.md\:fs-h7	 			{ @apply fs-h7 !important; }
			.md\:fs-toptitle 		{ @apply fs-toptitle !important; }
			.md\:fs-p 				{ @apply fs-p !important; }
			.md\:fs-sm 				{ @apply fs-sm !important; }
			.md\:fs-xs 				{ @apply fs-xs !important; }
			.md\:fs-xxs 			{ @apply fs-xxs !important; }
			.md\:fs-lead 			{ @apply fs-lead !important; }
			.md\:fs-blockquote 		{ @apply fs-blockquote !important; }
		}

		@media (min-width:960px) {
			.lg\:fs-huge 			{ @apply fs-huge !important; }
			.lg\:fs-h1	 			{ @apply fs-h1 !important; }
			.lg\:fs-h2	 			{ @apply fs-h2 !important; }
			.lg\:fs-h3	 			{ @apply fs-h3 !important; }
			.lg\:fs-h4	 			{ @apply fs-h4 !important; }
			.lg\:fs-h5	 			{ @apply fs-h5 !important; }
			.lg\:fs-h6	 			{ @apply fs-h6 !important; }
			.lg\:fs-h7	 			{ @apply fs-h7 !important; }
			.lg\:fs-toptitle 		{ @apply fs-toptitle !important; }
			.lg\:fs-p 				{ @apply fs-p !important; }
			.lg\:fs-sm 				{ @apply fs-sm !important; }
			.lg\:fs-xs 				{ @apply fs-xs !important; }
			.lg\:fs-xxs 			{ @apply fs-xxs !important; }
			.lg\:fs-lead 			{ @apply fs-lead !important; }
			.lg\:fs-blockquote 		{ @apply fs-blockquote !important; }
		}

		@media (min-width:1280px) {
			.xl\:fs-huge 			{ @apply fs-huge !important; }
			.xl\:fs-h1	 			{ @apply fs-h1 !important; }
			.xl\:fs-h2	 			{ @apply fs-h2 !important; }
			.xl\:fs-h3	 			{ @apply fs-h3 !important; }
			.xl\:fs-h4	 			{ @apply fs-h4 !important; }
			.xl\:fs-h5	 			{ @apply fs-h5 !important; }
			.xl\:fs-h6	 			{ @apply fs-h6 !important; }
			.xl\:fs-h7	 			{ @apply fs-h7 !important; }
			.xl\:fs-toptitle 		{ @apply fs-toptitle !important; }
			.xl\:fs-p 				{ @apply fs-p !important; }
			.xl\:fs-sm 				{ @apply fs-sm !important; }
			.xl\:fs-xs 				{ @apply fs-xs !important; }
			.xl\:fs-xxs 			{ @apply fs-xxs !important; }
			.xl\:fs-lead 			{ @apply fs-lead !important; }
			.xl\:fs-blockquote 		{ @apply fs-blockquote !important; }
		}

		@media (min-width:1600px) {
			.xxl\:fs-huge 			{ @apply fs-huge !important; }
			.xxl\:fs-h1	 			{ @apply fs-h1 !important; }
			.xxl\:fs-h2	 			{ @apply fs-h2 !important; }
			.xxl\:fs-h3	 			{ @apply fs-h3 !important; }
			.xxl\:fs-h4	 			{ @apply fs-h4 !important; }
			.xxl\:fs-h5	 			{ @apply fs-h5 !important; }
			.xxl\:fs-h6	 			{ @apply fs-h6 !important; }
			.xxl\:fs-h7	 			{ @apply fs-h7 !important; }
			.xxl\:fs-toptitle 		{ @apply fs-toptitle !important; }
			.xxl\:fs-p 				{ @apply fs-p !important; }
			.xxl\:fs-sm 			{ @apply fs-sm !important; }
			.xxl\:fs-xs 			{ @apply fs-xs !important; }
			.xxl\:fs-xxs 			{ @apply fs-xxs !important; }
			.xxl\:fs-lead 			{ @apply fs-lead !important; }
			.xxl\:fs-blockquote 	{ @apply fs-blockquote !important; }
		}



/* Main fonts */

.font-primary 		{ font-family: var(--primary-ff) !important; }
.font-secondary 	{ font-family: var(--secondary-ff) !important; }
.font-extra 		{ font-family: var(--extra-ff) !important; }
.font-body 			{ font-family: var(--body-ff) !important; }
.font-headings 		{ font-family: var(--title-ff) !important; }


/*
Queste classi si scrivono alla vecchia maniera perché non si devono confondere con quelle di tailwind se no ci sono valori che si sovrappongono.
Font-weight lo usiamo numerico perché se ci sono due font diversi che usano pesi diversi non si può usare una stessa classe che si riferisce a pesi diversi quindi meglio avere il numero esplicito.
*/

.lh-10 { line-height: 1 !important; }
.lh-11 { line-height: 1.1 !important; }
.lh-12 { line-height: 1.2 !important; }
.lh-13 { line-height: 1.3 !important; }
.lh-14 { line-height: 1.4 !important; }
.lh-15 { line-height: 1.5 !important; }
.lh-16 { line-height: 1.6 !important; }
.lh-17 { line-height: 1.7 !important; }

.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }
.fw-900 { font-weight: 900 !important; }


.max-w-32ch 	{ max-width: 32ch; }
.max-w-48ch 	{ max-width: 48ch; }
.max-w-64ch 	{ max-width: 64ch; }


/* Classi truncate-1-line etc....
Non si usano più, si usa line-clamp di Tailwind */





.list-comma span,
.list-hyphen span {
	@apply inline-block;
}

.list-comma span:not(:last-of-type):after {
	content: ', ';
}

.list-hyphen span:not(:last-of-type):after {
	content: ' - ';
}




/* Chiude layer base */
}
