/* Personalizzazioni Accordion */

/* .accordion dt {
    padding-bottom: 8px 0
}

.accordion dt:last-of-type {
    border-bottom: none
}

.accordion dt a {
    display: block
}

.accordion dd:last-of-type {
    position: relative;
    top: -1px
} */
