<div class="_card _card-event-md relative overflow-visible p-6">
	<div class="_bullet justify-end mb-6">26 Aprile</div>
	<div class="_event-description">
		<span class="_toptitle mb-4">Claire Gibalut Cremona</span>
		<h3 class="fs-h5 mb-4">Direttrice d'orchestra</h3>
		<p class="line-clamp-3 mb-12">Si parla di Atlante delle donne di Joni Seager, pubblicato nella collana Atlanti.</p>
		<hr>
		<div class="_event-info flex flex-col mt-4">
			<span>26 Aprile 2022</span>
			<span>17.00 - 18.00</span>
			<span>Via Roma 1, Torino</span>
		</div>
	</div>
</div>
